.content {
    padding: 1.5rem;
    height: 100%;

    display: grid;
    grid-template-columns: (250px) repeat(2, 1fr);
    grid-template-rows: minmax(50px, auto) auto minmax(30px, auto) 1fr;
    grid-template-areas:
        'title title title'
        'description description description'
        'info info info'
        'resource resource resource';

    .title {
        grid-area: title;
        font-size: 1.8rem;
        font-weight: 100;
        color: #8095ab;
        text-align: center;
    }
    .description {
        padding: 0.5rem 0;
        grid-area: description;
        font-size: 1.1rem;
        text-align: justify;

        p {
            font-weight: 200;
            margin-bottom: 0.5rem;
            color: #536775;
        }
    }
    .info {
        grid-area: info;
        font-size: 16px;
        color: #999;
        padding: 1rem;
        background-color: #141d24;
        border-radius: 5px;
        min-height: 3rem;
        max-height: max-content;
        font-size: 1.2rem;
        font-weight: 200;
        letter-spacing: 2px;

        display: flex;
        gap: 1rem 2rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .resource {
        grid-area: resource;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
