#root {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) repeat(4, minmax(150px, 1fr));
    grid-template-rows: 200px 80px 1fr 80px;
    grid-template-areas:
        'header header header header header'
        'menu filter filter filter filter'
        'menu content content content content'
        'footer footer footer footer footer ';
    height: 100vh;
    width: 100vw;
}

header {
    grid-area: header;
}
#menu {
    grid-area: menu;
    border: 2px solid darkslategray;
}
#filter {
    grid-area: filter;
    border: 2px solid darkgray;
}
#content {
    grid-area: content;
    border: 2px solid darkgoldenrod;
}
footer {
    grid-area: footer;
}
